.App {
    text-align: center;
}
.header {
    width: 100%;
    height: 10vh;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
}

.tarotpedia {
    margin: auto;
    font-size: 26px;
    font-family: 'Macondo', 'Cardo', serif ;
    font-weight: 800;
    text-shadow: rgb(66, 65, 65) 1px 0.5px;
}